extends layout

block content
  p=post.title 
  p=post.author 
  p=post.content
  p
    a(href='/update/' + post.id) update
  p
    form(action='/delete/' + post.id, method='post')
      input(type='submit', value='delete')
  p
    a(href='/list') back