extends layout 

block content 
  form(action='/create', method='post')
    p
      input(placeholder='title', name='title')
    p 
      input(placeholder='author', name='author')
    p
      textarea(placeholder='content', name='content')
    p 
      input(type='submit', value='submit')
    a(href='/list') back