doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p
      a(href='/') HOME
    p
      a(href='/auth') LOGIN 
    h1 MiniBoard
    p Welcome to miniBoard
    
    block content
